.docuLink{
    text-align: center;
    margin-top: 100px;
    .tele{
        width: 40%;
    }
    a{
        text-decoration: none;
    }
}
p{
    font-family: "cabin";
}
h1,h2,h3{
    font-family: "greatVibes";
    font-size: 35px;
}
.videoDrole {
    text-align: center;
}
.space{
    display: flex;
    justify-content: space-around;
}