<section class="docuLink">
    <img class="tele" src="assets/images/JackAndMitsyTele.jpg" alt="jack et mitsy regarde la télévision">

    <h1>Voici quelques liens et vidéos inspirantes</h1>
    <p>

        <a href="https://www.notre-planete.info/environnement/biodiversite/biodiversite.php#hostpots" target="_blank"
            rel="noopener noreferrer">Infos planète</a>

    </p>


    <p>

        <a href="https://cacommenceparmoi.org/#!le-testeur-1/c1mlu" target="_blank"
            rel="noopener noreferrer">Ca commence par moi !</a>

    </p>
    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sF88yMqx1oY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBvE-wATKlU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/1y7yLflzYBQ" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/skL_sMXgApg" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/MXFweeXCUJM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/5AP4F2ewPAs" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/o_2eJyCUsUM" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/5w3VqluGfGY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NGMPksl2t_I" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>

<section class="videoDrole">
    <h2>Et quelques vidéos amusantes</h2>
    <div class="space">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ba62uuv-5Dc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/n_ybrSEMxQI" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


</section>