<section class="author">
    <h3>L’auteure : Isabelle Smedts</h3>
    <img class="moonImg" src="assets/images/moon.jpeg" alt="photo de l'auteure">
    <p>
        Je suis avant tout une amoureuse de la nature. D’ailleurs c’est auprès de cette grande dame verte que je me
        ressource le plus souvent. J’aime aussi les relations humaines même si elles me font un peu peur parfois. En
        1991, un diplôme de logopède en poche, j’entame ma carrière au cours de laquelle j’ai eu la chance de guider les
        enfants et les adolescents. Mon potentiel est de leur donner confiance en eux, de les éclairer sur qui ils sont,
        de les éveiller à leur propre potentiel qui ne se limite pas à savoir lire, écrire sans erreur et calculer juste
        mais qui s’étend bien au-delà. J’ai aussi passé du temps avec les personnes âgées auprès desquelles j’ai vécu
        des moments authentiques qui me remplissent de gratitude.
    </p>

    <p>
        Depuis plus de vingt ans, j’aime écrire des histoires. C’est ainsi que Jack et Mitsy sont nés de mon imagination
        il y a environ cinq ans. J’ai ressenti beaucoup de plaisir à écrire leurs premières aventures.
    </p>
    <p>
        En juin 2017, le film Demain de Cyril Dion me touche ! Une question ne cesse de tourner dans mes pensées :
        Comment puis-je
        contribuer au changement ? Comment servir l’écologie ? Comment nourrir l’utopie d’aller vers un monde plus «
        vert », plus en lien avec la nature, avec le vivant et mes valeurs ?
    </p>
    <p>
        Suite à une conversation avec un collègue jardinier (merci Olivier), Jack et Mitsy se transforment en reporters
        de la nature. J’envoie la première
        histoire au Canada en août 2017… Incroyable ! Après 16 jours, je reçois une réponse positive d’un éditeur mais
        malheureusement ils ne subsidient que les auteurs québécois. Cela me booste, j’avance.
    </p>
    <p>
        Après quelques mois, je fais la rencontre d’une future éditrice, Cathy Vandendriessche, qui est intéressée par
        le projet.
        Cependant, dans un premier temps, la maison d’édition Expression de sagesse décide de n’éditer que les auteurs
        issus du
        projet du même nom. Cela me booste, j’avance, j’avance, j’avance, encore et toujours. Merci Cathy pour tes
        conseils et tes encouragements.
    </p>

    <p>
        C’est en juin 2019 que je change radicalement ma manière de faire : je prends la décision de quitter mon boulot
        et me voici sur le chemin de l’autoédition. En février 2020, la veille de mon anniversaire, je rencontre enfin
        Roberta qui rentre dans le projet en tant qu’illustratrice sans hésiter ! C’est un merveilleux cadeau que de
        pouvoir travailler ensemble. Merci Roberta pour ta spontanéité, ton enthousiasme, ta créativité. Ensemble, nous
        portons à présent ce projet.
    </p>

</section>
<div class="butterflyParrallax"></div>

<section class="authorInterview">
    <h3>Interview de l’auteure pour mieux connaître le projet et les personnages :</h3>
    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                    <mat-panel-title>
                        <p>
                            Comment sont nés les personnages de Jack et Mitsy ? Ont ils été créés dans le but de
                            jouer ce rôle de
                            transmission et de conscientisation ?
                        </p>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="show">
                    <p>
                        Jack et Mitsy sont nés en 2015. Au départ, ils sont le fruit de mon imagination et de mon
                        intérêt
                        pour le monde
                        des insectes. Ils ont vécu ensemble quelques aventures permettant aux enfants d’entrer dans le
                        monde
                        de ces
                        petits êtres dans un cadre ludique. C’est en juin 2017 qu’ils prennent le chemin de reporters
                        écolos
                        en quête de
                        sens et de solutions.
                    </p>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                    <mat-panel-title>
                        <p>
                            Quel est le thème principal de Jack et Mitsy, que souhaitez- vous transmettre à travers
                            leurs aventures ?
                        </p>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <p>
                    La mission de Jack et Mitsy est de guider les enfants vers un avenir plus en lien avec la nature.
                    Notre planète
                    est en souffrance. Les personnages permettent aux enfants à la fois de comprendre ce qui cause le
                    déséquilibre
                    de notre écosystème mais aussi de prendre conscience que chaque action, chaque intention positive
                    est
                    importante. Jack et Mitsy guident les enfants vers des valeurs telles que la solidarité, l’empathie,
                    l’honnêteté, la résilience qui peuvent aider notre planète à retrouver son équilibre, les mener vers
                    une vie
                    harmonieuse avec chaque être habitant sur cette terre (animal, végétal et minéral).
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                    <mat-panel-title>
                        <p>
                            Si vous deviez donner trois mots pour décrire chacun des personnages principaux ?
                        </p>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <p>
                    Jack la coccinelle est bienveillant, spontané, gourmand.
                    Mitsy le papillon est curieuse, authentique, intuitive.
                    L’enfant qui est de plus en plus présent au fil des histoires est empathique, curieux, sensible à la
                    nature (une
                    âme de chamane).
                    Gaston, que l’on découvre dans la quatrième aventure et qui devient un personnage important, est
                    défini par
                    l’honnêteté, la résilience et la responsabilité.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                    <mat-panel-title>
                        <p>
                            Pourquoi avoir choisi un papillon et une coccinelle ?
                        </p>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <p>
                    Au départ, je pense que mon choix a été guidé par la sympathie et la beauté que reflètent ces deux
                    petits êtres.
                    La première aventure est basée sur la transformation de la chenille en papillon, transformation des
                    plus
                    fascinante et étonnante. Lorsqu’ils se sont dirigés vers une mission écologique, je me suis alors
                    intéressée à
                    la symbolique de ces deux insectes, et là, quelle belle surprise de constater qu’ils correspondent à
                    merveille
                    aux messages à transmettre, à l’aboutissement d’un changement essentiel ! En effet, le papillon est
                    le symbole
                    de la renaissance, de l’espièglerie mais aussi le symbole du monde de l’âme et du changement
                    nécessaire pour un
                    avenir meilleur. La coccinelle, quant à elle, est le symbole de la chance (il va nous en falloir un
                    peu), de la
                    joie et de l’innocence. Jack, qui est d’ailleurs drôle et spontané, amène un peu de légèreté dans
                    des sujets
                    très sérieux. La coccinelle représente également l’intervention divine, une énergie supérieure selon
                    moi qui
                    nous permet de nous sentir relié à nous-même et au monde.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                <mat-panel-title>
                    <p>
                        Comment s’est passée la rencontre avec Roberta Auriemma, l’illustratrice ?
                    </p>
                </mat-panel-title>

            </mat-expansion-panel-header>
            <p>
                Nous nous sommes données rendez-vous un matin dans le centre de Bruxelles. Pour la petite histoire,
                j’avais reçu
                ses coordonnées d’une connaissance proche, Ananda, une super nana. Roberta a tout de suite été
                emballée par le
                thème de l’écologie. Nous avons discuté durant près de deux heures, j’ai pour ma part le souvenir
                d’un échange
                chaleureux et ouvert. J’ai été touchée par ses dessins qui respirent la simplicité, une certaine
                naïveté et une
                belle harmonie des couleurs. Nous nous sommes séparées en se serrant dans les bras (ce que je ne
                fait pas avec
                tout le monde), touchée par la personne de Roberta, heureuse de voir mon rêve se concrétiser un peu
                plus grâce à
                cette rencontre avec celle qui allait devenir l’illustratrice des aventures de Jack et Mitsy.
            </p>

        </mat-expansion-panel>
    </mat-accordion>

</section>

<div class="ladybirdParrallax"></div>

<section class="robertaInterview">
    <h3>Interview de notre illustratrice : Roberta Auriemma</h3>
    <div class="flex">
        <div>
            <img class="robertaImg" src="assets/images/roberta.jpg" alt="photo de notre illustratrice : Roberta">
        </div>
        
        <div class="unflex">

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Voilà un nom plein de soleil, de quelle origine êtes-vous ?<br>
                                Voudriez-vous en quelques mots décrire votre parcours ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Je vis actuellement à Bruxelles depuis 6 ans mais je viens de Naples, où j’ai grandi et où je
                        suis
                        restée jusqu’à mes 24 ans.
                        Avant d’arriver en Belgique, j’ai vécu quelques mois en Irlande, puis en Turquie. Le dessin a
                        toujours fait partie de ma vie et est
                        devenu un choix professionnel dès mes 14 ans. Depuis, mes études ont toujours été orientées vers
                        la
                        créativité.<br>
                        A quelle période de votre vie est apparue votre passion pour le dessin ?<br>
                        Ça a toujours été là, plus comme une façon de m’exprimer que comme une passion.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Quelles valeurs nourrissez vous en vous investissant dans ce projet ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Le projet de Jack et Mitsy m’a immédiatement touchée car il sensibilise à la protection de notre
                        environnement et de notre
                        Terre. Plus que jamais nous devons être attentifs à nos choix quotidiens pour prendre soin de
                        notre
                        planète, pour préserver et
                        aussi pour rectifier les dégâts que l’homme a fait. Ce projet est pour moi une façon de
                        participer à
                        ces changements.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Comment décririez vous votre lien à la nature ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        J’ai une vision sûrement romantique de la nature : elle m’enchante et sa dangerosité m’échappe,
                        je la considère toujours juste.
                        Je me considère comme faisant partie d’elle, tout en ne la connaissant pas vraiment. Elle ne
                        fait pas suffisamment partie de
                        mon quotidien mais elle est très présente dans mes dessins.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                A t'il été facile d'entrer dans la peau des personnages ? Quel est votre préféré ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Rencontrer les personnages n’est jamais facile pour moi. Les « casting » sont toujours une des
                        parties les plus longues d’un
                        projet et parfois on en voit pas le bout.. Et puis les personnages apparaissent, et c’est un
                        véritable plaisir! Je n’ai pas de
                        préférence pour l’un ou pour l’autre : chacun a ses spécificités et me touche pour des raisons
                        différentes.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Comment s'est passée votre rencontre avec l'auteure ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Isabelle est apparue dans ma vie avec un mail. Très simplement, elle me proposait de dessiner
                        pour son projet. On s’est
                        rencontrées autour d’un café une semaine plus tard et le feeling a tout de suite été là. Ça
                        s’est fait très simplement.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Quels messages désirez vous faire passer à travers vos dessins ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Je n’aime pas imposer un message via mes dessins.. Bien sur ils en ont un pour moi mais je
                        préfère plutôt laisser à celui qui les
                        reçoit y voir ce qui le touche et y retenir ce qui compte pour lui. Je donne quelque chose de
                        moi, l’autre peut le prendre ou pas,
                        et surtout peut se l’approprier à sa façon.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Comment décririez vous votre style ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Je dessine avec spontanéité et simplicité. Les formes sont simples, les couleurs enfantines, une
                        grande naïveté en ressort.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Quelle place prend le dessin, les couleurs dans votre quotidien ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Les couleurs sont absolument indispensables dans mon quotidien, encore plus que le dessin. C’est
                        un véritable besoin d’être
                        entourée de couleur. Avec le dessin, nous nous rencontrons, nous nous séparons. J’ai appris à
                        accepter que parfois c’est là,
                        parfois pas, sans forcer la main et tout en restant exigeante vis-à-vis de ce lien.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
                        <mat-panel-title>
                            <p>
                                Si vous devez choisir 3 mots pour qualifier vos dessins ?
                            </p>
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <p>
                        Enfantins, colorés, joyeux!<br>
                        Est- ce en lien avec votre personnalité ?<br>
                        Une partie de ma personnalité, oui.
                    </p>

                </mat-expansion-panel>
            </mat-accordion>

        </div>

    </div>



</section>
<section class="team">

    <h3>L’équipe :</h3>

    <p>
        <strong>Baptiste Bourlet :</strong>
        développeur pour la création du site, merci pour ta générosité.</p>
    <p>
        <strong>Nina Bourlet :</strong>
        relecture fond et forme, coaching Facebook et ses très belles photos.
    </p>
    <p>
        <strong>Roberta Auriemma :</strong>
        l’illustratrice
    </p>
    <p>
        <strong>Sophie Lafay :</strong>
        graphiste.
    </p>

    <p>Merci à Ananda, Melinda, Cathy, Thomas, Alexis pour leurs conseils et leur soutien.</p>
    <p>Merci à mes amis, ma famille qui me soutiennent également dans cette aventure.</p>
</section>