

section {
    margin: auto;
    width: 80%;
    text-align: center;
    margin-top: 100px;
    h3 {
            font-size: 35px;
           font-family: "greatVibes";
    }
    p {
        font-family: 'cabin';
    }
}



.team{
    height: 60vh;
}
.authorInterview {
    margin-bottom: 100px;
    
}
.space{
    margin-bottom: 25px;
}

.robertaInterview{
    .flex{
        display: flex;
        
        .unflex{
            justify-content: center;
            margin: auto;
        }
        .robertaImg{
            width: 55vh;
        }
    }
    
}


@media only screen and (max-width: 1000px) {
    .robertaInterview{
       .flex{
           display: block;
       }
       
    }
    .moonImg{
        width: 70vh;
    }
  }

  @media only screen and (max-width: 500px) {
    
    .moonImg{
        width: 40vh;
    }
    .robertaImg{
        width: 40vh!important;
    }
  }