
.objectifs{
    a{
        text-decoration: none;
    }
    h3{
        font-family: "cabin";
    }
    min-height: 70vh;
    h1{
        font-family: "greatVibes";
        font-size: 35px;
    }
    p,h2{
        font-family: "cabin";
    }
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
   
}
.audioBook{
    margin-top: 40px;
    text-align: center;
    img{
        margin: auto;
        width: 50%;
    }
    h3{
        font-family: "greatVibes";
    }
    iframe{
        margin: auto;
    }
}