<section>
    <img class="contactImg" src="assets/images/JackAndMitsyContact.jpg" alt="">
   <p>
    <strong>Adresse mail du projet :</strong><br><a href="mailto:jacketmitsy@gmail.com"> jacketmitsy@gmail.com</a>
   </p>
   <p>
       <strong>Auteure Isabelle Smedts : </strong><br><a href="tel:0473887408"> Téléphone : 0473/88 74 08</a>
   </p>
 <p>
     <strong>Illustratrice - Roberta Auriemma : </strong><br><a href="mailto:raamapola@gmail.com"> Mail : raamapola@gmail.com </a>
 </p>
 <p>
     <strong>Développeur - Baptiste Bourlet : </strong><br><a href="mailto:baptiste.bourlet@gmail.com"> Mail : baptiste.bourlet@gmail.com</a>
 </p>
<p>
    <strong>Graphiste - Sophie Lafay : </strong> <br><a href="tel:0483642333"> Téléphone : 0483/64 23 33</a>
     <br><a href="mailto:lafaysoph@gmail.com"> Mail : lafaysoph@gmail.com </a>
</p>
 
</section>

