<section>
    <img class="contactImg" src="assets/images/JackAndMitsyContact.jpg" alt="">
   <p>
    <strong>Adresse mail du projet :</strong><br> jacketmitsy@gmail.com
   </p>
   <p>
       <strong>Auteure Isabelle Smedts : </strong><br>Téléphone : 0473/88 74 08
   </p>
 <p>
     <strong>Illustratrice - Roberta Auriemma : </strong><br> Mail : raamapola@gmail.com 
 </p>
 <p>
     <strong>Développeur - Baptiste Bourlet : </strong><br> Mail : baptiste.bourlet@gmail.com
 </p>
<p>
    <strong>Graphiste - Sophie Lafay : </strong> <br> Téléphone : 0483/64 23 33 <br> Mail : lafaysoph@gmail.com 
</p>
 
</section>

