
<section class="actualProject">
    <h1>Projet actuel :</h1>
    <p>Résumés et thèmes des deux premières histoires à paraître cet automne 2020.</p>
    <p>Un livre contenant les deux premières aventures. </p>

    <h3>1) Les aventures de Jack et Mitsy : L'homme masqué </h3>

    <p>Un engin à la carapace de fer crache un liquide. Pierrot le lièvre disparaît derrière un nuage. Un drame se
        produit.
        La terre est empoisonnée.
        Que se passe t'- il ? Le départ pour Jack et Mitsy d’ un long voyage en quête de sens. Un enfant apparaît
        derrière
        le voile blanc et décide de les accompagner.</p>

    <p><strong>Thème :</strong> le décor est planté. Des produits toxiques empoisonnent la terre et les êtres vivants.
        Les deux héros se sentent
        concernés et deviennent deux reporters en quête de solutions.</p>

    <h3>2) Les aventures de Jack et Mitsy : Au coeur d'un champ de maïs</h3>

    <p>Nos deux amis s’envolent vers de nouvelles rencontres. Ils croisent le chemin de Lulu, en difficulté dans un
        champ de
        maïs. Albert les accueille ensuite dans une grande exploitation, c’est là qu’ils vont apprendre l’usage du maïs.
        Le
        hibou leur confie de terribles révélations. Une lueur au bout du chemin apparaît.</p>

    <p><strong>Thème développé :</strong> le maïs pour les animaux d'élevage, les pesticides et les conséquences sur la
        faune et la flore.
        Éléments positifs : il existe des cultures sans pesticides. Conseils pour se procurer des graines bio (liens)
    </p>


</section>
<div class="parrallax"></div>
<section class="futurProject">
    

    <h3>Les aventures créées à venir :</h3>
    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>La Normandie :</h4>
                    </mat-panel-title>

                </mat-expansion-panel-header>

                <p>
                    Nos deux reporters retrouvent Joséphine, une mésange gardienne d’un lien paisible et respectueux de
                    la nature et
                    des
                    êtres vivants. Un paradis pour tous. L’enfant prend soin de la coccinelle et du papillon. La
                    gourmandise de Jack
                    est au
                    rendez-vous.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Gaston :</h4>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>
                    Une rencontre émouvante avec un vieil homme autrefois « masqué ». Il raconte son histoire. L’origine
                    de
                    l’utilisation
                    des pesticides dans l’agriculture.
                    L’enfant découvre qu’il peut communiquer avec la coccinelle et le papillon.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>La vie des sols :</h4>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>
                    Gaston chemine aux côtés de nos deux reporters pour livrer un message de dame nature. L’enfant y
                    découvre le
                    cycle des
                    sols, mais aussi des idées pour participer au changement.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>

    
    <div class="space">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>L’aventure d’Oleille l’abeille :</h4>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p>
                    Oleille semble avoir perdu l’esprit, elle ne reconnaît plus ses amis.
                    La vie n’est pas toujours facile pour ces petits
                    êtres si importants dans notre vie de tous les jours.
                    Une prise de conscience sur le rôle des abeilles.
                    Une surprise attend l’enfant.
                </p>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</section>
<div class="border"></div>
<section class="conclusion">
    <h2>Projets à venir :</h2>
    <p>
        Un des objectifs à moyen terme est de faire le lien avec les écoles, être proche des enfants en créant des
        ateliers écologiques (coffrets Jack et Mitsy) en résonance avec la nature mais aussi en lien avec les émotions,
        la
        respiration, l’importance d’être connecté à son intuition du cœur.
    </p>
    <p>
        Autre projet = création d’un site où les enfants puissent partager, échanger leurs idées, leurs actions afin
        d’amplifier davantage des énergies propices au changement.
    </p>
    <p>
        Depuis toujours je les vois vivre en dessins animés. Un rêve de plus à concrétiser à moyen ou long terme.
    </p>
    <p>
        Vous savez à présent tout ce qui tourne dans mes pensées. Un pas à la fois, une étape après l’autre.
    </p>
    <p>
        <strong>Comme dit Gandhi : « Un pas à la fois me suffit »</strong>
    </p>
    <p>
        <strong>
            « Lorsque les rêves émanent du cœur, lorsqu’ils s’imprègnent de certitude tout devient possible »
            Isabelle
        </strong>
    </p>
</section>